<md-dialog class="semester-create-modal" aria-label="About" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Create New Application</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cMod.cancel()">
                <md-icon aria-label="Close dialog">
                    <i class="fa fa-times fa-2x"></i>
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <form class="ui form">
            <div class="field">
                <div class="two fields">
                    <div class="eight wide field">
                        <label>Name</label>
                        <input type="text" placeholder="Name" ng-model="cMod.app.appName">
                    </div>
                </div>
            </div>
        </form>
    </md-dialog-content>
     <md-dialog-actions class="order-fix" layout="row">
        <span flex></span>
        <md-button md-autofocus ng-click="cMod.accept()">Accept</md-button>
        <md-button ng-click="cMod.cancel()">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>