# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Test Files
server/test.db

# Generated
server/assets.go
server

# Static files
server/assets/admin

server/assets/frontend

# Config file so we do not overwrite the config in GIT
config.yaml

# Keep out bootstrap.go so the initial config does not make it into GIT
bootstrap.go

test.db