# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Test Files
server/test.db

# Generated
server/assets.go

# Static files
server/assets/lib
server/assets/css
server/assets/js
server/assets/img

# Dependencies
vendor/