<md-dialog class="semester-create-modal" aria-label="About" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Create New Server</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cMod.cancel()">
                <md-icon aria-label="Close dialog">
                    <i class="fa fa-times fa-2x"></i>
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content class="md-padding">
        <form name="serverForm" class="ui form">
            <div class="field">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Name</label>
                    <input type="text" ng-model="cMod.server.serverName" id="serverName" name="serverName" required>
                </md-input-container>
            </div>
            <div class="field">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Base URL</label>
                    <input type="text" ng-model="cMod.server.baseURL" id="baseURL" name="baseURL" required>
                </md-input-container>
            </div>
            <div class="field">
                <md-input-container>
                    <label>Permissions</label>
                    <md-select ng-model="selectedPermissions" multiple required flex-gt-sm>
                        <md-option ng-repeat="perm in cMod.availablePermissions" value="{{ perm }}">{{ perm }}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions class="order-fix" layout="row">
        <span flex></span>
        <md-button md-autofocus ng-disabled="serverForm.$invalid" ng-click="cMod.accept()">Accept</md-button>
        <md-button ng-click="cMod.cancel()">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>