<div layout="column" style="height: 500px;" ng-cloak="" class="sidenavdemoCustomSidenav" ng-app="MyApp">
  <section layout="row" flex="">
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop="" md-whiteframe="4">
      <md-content class="fake-menu">
        <md-menu-item>
          <md-button ng-click="ctrl.select('main.admin','Administrators')">
              <md-icon md-svg-icon="img/icons/application.svg"></md-icon>
            Administrators
          </md-button>  
        </md-menu-item>
        <md-divider></md-divider>
        <md-menu-item class="menu-active">
          <!-- give it a clicky effect -->
          <md-button ng-click="ctrl.select('main.apps','Applications')">
              <md-icon md-svg-icon="img/icons/application.svg"></md-icon>
              Applications
          </md-button>  
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="ctrl.select('main.users','Users')">
              <md-icon md-svg-icon="img/icons/user.svg"></md-icon>
              Users
          </md-button>  
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="ctrl.select('main.2FA','2FA Devices')">
              <md-icon md-svg-icon="img/icons/user.svg"></md-icon>
              2FA Devices
          </md-button>  
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="ctrl.select('main.endpoints','Endpoints')">
              <md-icon md-svg-icon="img/icons/user.svg"></md-icon>
              Endpoints
          </md-button>  
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="ctrl.select('main.reports','Reports')">
              <md-icon md-svg-icon="img/icons/user.svg"></md-icon>
              Reports
          </md-button>  
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="ctrl.select('main.settings','Settings')">
              <md-icon md-svg-icon="img/icons/user.svg"></md-icon>
              Settings
          </md-button>  
        </md-menu-item>
        
    </md-content>
    </md-sidenav>
    <md-content flex="">
      <div class="toolbar-container md-whiteframe-2dp" layout="row">
        <!-- two toolbars for seperate coloration for minimal effort -->
        <md-toolbar class="toolbar-open">
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" id="menu" ng-click="ctrl.toggleLeft()" >
              <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
            </md-button>
            <h2>
              <span>{{ctrl.sName}}</span>
            </h2>
            <span flex></span>
          </div>
        </md-toolbar>
        <!-- actions -->
        <md-toolbar class="toolbar-actions">
          <div class="md-toolbar-tools">
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Messages">
              <md-icon md-svg-icon="img/icons/messages.svg" ></md-icon>
            </md-button>
          </div>
        </md-toolbar>
      </div>
      <div layout="column" layout-align="top center">
        <ui-view />
      </div>
    </md-content>
  </section>
</div>