<!-- overall container, makes for easier general alignment -->
<div class="settings">
    <span class="settings__title">Vlad Dobra's Settings</span>
    <div class="settings__inner">
        <!-- separates settings by category -->
        <span class="subheader">General</span>
        <div class="settings__row md-whiteframe-2dp">
            <!-- a short-ish description of the setting -->
            <div class="settings__row-text">Allow animations</div>
            <!-- put the text and toggle at opposite ends -->
            <div flex></div>
            <!-- what toggles the setting -->
            <div class="settings__row-toggle">
                <md-switch></md-switch>
            </div>
        </div>
        <div class="settings__row md-whiteframe-2dp">
            <!-- a short-ish description of the setting -->
            <div class="settings__row-text">Setting 2?</div>
            <!-- put the text and toggle at opposite ends -->
            <div flex></div>
            <!-- what toggles the setting -->
            <div class="settings__row-toggle">
                <md-switch></md-switch>
            </div>
        </div>
        <div class="settings__row md-whiteframe-2dp">
            <!-- a short-ish description of the setting -->
            <div class="settings__row-text">Allow janky animations</div>
            <!-- put the text and toggle at opposite ends -->
            <div flex></div>
            <!-- what toggles the setting -->
            <div class="settings__row-toggle">
                <md-switch></md-switch>
            </div>
        </div>
        <div class="settings__row md-whiteframe-2dp">
            <!-- a short-ish description of the setting -->
            <div class="settings__row-text">Allow nothing</div>
            <!-- put the text and toggle at opposite ends -->
            <div flex></div>
            <!-- what toggles the setting -->
            <div class="settings__row-toggle">
                <md-switch></md-switch>
            </div>
        </div>
        <span class="subheader">Applications</span>
        <div class="settings__row md-whiteframe-2dp">
            <!-- a short-ish description of the setting -->
            <div class="settings__row-text">Allow usage of multiple apps</div>
            <!-- put the text and toggle at opposite ends -->
            <div flex></div>
            <!-- what toggles the setting -->
            <div class="settings__row-toggle">
                <md-switch></md-switch>
            </div>
        </div>
    </div>
</div>
