// import our mixins as a reference
@import (reference) "mixins";
html {
    // 100% 100%
    .size();
    // global font size, most measurements are based off this
    font-size: 16px !important;
}

a {
    // no text decoration
    text-decoration: none;
}

// ui views should always occupy all space 
ui-view {
    .size();
}

// wraps the app
.app__wrap {
    .size();
    display: flex;
    flex-direction: column;
}

// the top level portion of the main app view, only under the ui-view
.app {
    // 20px is taken up by copyright
    flex: 1;
    // lay the interface out in a row
    display: flex;
    // and the background, should be left to this, not to elements inside
    background-color: @background;
    // hide overflow or else things go wrong on smaller screens
    overflow-x: hidden;
}

// our application navigation system
.app-menu {
    .size(100%, 16rem);
    // if i don't absolutely force this to stay at 16rem it will get resized to 179.3px at smaller displays by the ui-view's padding-right
    min-width: 16rem;
    max-width: 16rem;
    display: flex;
    flex-direction: column;
    // set background to whatever is set in mixins
    background-color: @background;
}

// contains user avatar and application selector in one package
.app-menu__user-bar {
    // 64 high to disseminate from the 48 high navigation stuff
    .size(4rem, 100%);
    // flexbox and alignment of items
    display: flex;
    align-items: center;
}

// user icon, is a circle
.avatar__circle {
    // leaves 8px of space on top and bottom, mathematical perfection (probably)
    .size(3rem, 3rem);
    // center the placeholder text
    .center();
    // circle
    border-radius: 50%;
    // hard-coded in until we get actual avatars
    background-color: @clr-blue-500;
    color: white;
    // and the fontsize to make it look more better-er
    font-size: 20px;
    // add margin to separate from margin of page and also to line up with the center of the icons
    margin-left: 8px;
}

// switch between applications
.app-menu__app-selector {
    height: 3rem;
    display: flex;
    // x axis center
    align-items: center;
    // fill remaining space
    flex: 1;
    // move away from avatar image
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 4px;
    // a hue up from the background color
    background-color: #EEEEEE;
    // the element is clickable, reflect that
    cursor: pointer;
}

// go up another hue on hover
.app-menu__app-selector:hover {
    background-color: #E0E0E0;
}

// no outline
.app-menu__app-selector:focus {
    outline: none;
}

// and make the icon blue 
.app-menu__app-selector:hover .app-selector__cloud {
    // default
    color: @clr-blue-500;
    // if you hover for 10s 
    // taste the rainbow
    animation: rainbow 100s infinite;
    animation-direction: alternate;
}

// if you idle for 10s on the application selector it rainbows the hell out of you
@keyframes rainbow {
    0% {
        color: @clr-blue-500;
    }
    10% {
        color: @clr-light-blue-500;
    }
    20% {
        color: @clr-cyan-500;
    }
    30% {
        color: @clr-teal-500;
    }
    40% {
        color: @clr-green-500;
    }
    50% {
        color: @clr-lime-500;
    }
    60% {
        color: @clr-yellow-500;
    }
    70% {
        color: @clr-orange-500;
    }
    80% {
        color: @clr-deep-orange-500;
    }
    90% {
        color: @clr-red-500;
    }
    100% {
        color: @clr-purple-500;
    }
}

// cloud icon on the left for s t y l e
.app-selector__cloud {
    margin: 0 8px !important;
}

// text representing what application you are viewing
.app-selector__text {
    // fill space
    flex: 1;
    color: @primary-text;
    font-size: 12px;
    font-weight: 500;
    margin-right: 8px;
    z-index: 1;
}

.app-selector__text--select {
    display: none;
    // no highlighting on this one
    .noselect();
}

// hovering over tells the user that you can switch apps, hide original text 
.app-menu__app-selector:hover .app-selector__text {
    // make it disappear
    display: none;
}

// hovering over tells the user that you can switch apps 
.app-menu__app-selector:hover .app-selector__text--select {
    // one more than normal text
    z-index: 2;
    // make it appear
    display: block;
}

// contains all of the navigational controls
.app-menu__navigator-container {
    // size to contain the rest of the things
    .size();
}

// one of the buttons you can click to change the interface
.app-menu__navigator {
    .size(3rem, 100%);
    // set position to relative so the ripple is bounded inside
    position: relative;
    // vertical center
    display: flex;
    align-items: center;
    // cursor
    cursor: pointer;
    .noselect();
}

// change background to a closer shade to the active color on hover
.app-menu__navigator:hover {
    background-color: @clr-grey-200;
}

// and disable the blue outline on click
.app-menu__navigator:focus {
    outline: none;
}

// if the current navigator is selected, it lights up both this and the icon next to it with a color of the rainbow
// however, if it is not the spacer has no height/width
.app-menu__navigator:not(.active__navigator) .navigator__spacer {
    .size(0, 0);
}

// if that happens to be the case, then replace the thing with padding
.app-menu__navigator:not(.active__navigator) {
    padding-left: 4px;
}

// icon that corresponds to text
.navigator__icon {
    // space from spacer and text
    margin: 0 16px;
}

// text that corresponds to where you want to go
.navigator__text {
    color: @primary-text;
    font-size: 1rem;
    // set margin to equalize with spacer
    margin-left: 4px;
}

// active navigator item
.active__navigator {}

// a mixin to help with the spacer coloration
// color is the color it lights up with, iteration plugs into an nth-child (i.e which item in the list it is)
.navigator-color(@color, @iteration) {
    // the spacer before the icon
    .active__navigator:nth-child(@{iteration}) .navigator__spacer {
        // change the background color because it is just a block of pixels
        background-color: @color;
        // and restore its size
        .size(100%, 4px);
    }
    // the icon
    .active__navigator:nth-child(@{iteration}) .navigator__icon {
        // color because that is how the mdi fontset works
        color: @color;
    }
}

// using the mixin
// first one is red
.navigator-color(@clr-red-500, 1);
// second is orange
.navigator-color(@clr-orange-500, 2);
//third is yellow
.navigator-color(@clr-yellow-600, 3);
// fourth is green
.navigator-color(@clr-green-500, 4);
// fifth is blue
.navigator-color(@clr-blue-500, 5);
// sixth is indigo
.navigator-color(@clr-indigo-500, 6);
// seventh is violet
.navigator-color(@clr-purple-500, 7);
// and the last colored nav item should always be the settings, as logout just logs you out
// it gets black
.navigator-color(@clr-grey-900, 8);
// the main part of where the content is displayed in the app
.app__main {
    // take up remaining space
    flex: 1;
    // make things look more centered by centering by entire page
    padding-right: 16rem;
}

// credit to who made the app (us)
.copyright {
    .center();
    text-align: right;
    background-color: @background;
    padding-bottom: 8px;
}
