html {
    /* grayish color */
    background-color: #E5E6E6;
}

.full-size {
    width: 100%;
    height: 100%;
}


/* spaces out the size of the toolbar */

.spacer {
    height: 67px;
}


/* instead of using md-whiteframe-1dp */

.basic-card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    border-radius: 2px;
}


/* toolbar styles */

.toolbar-container {
    padding: 0;
    position: fixed;
    width: 100%;
}

.toolbar-container > md-toolbar {
    padding: 0;
}

.toolbar-open {
    /* offsets width for some reason */
    width: 384px;
    color: rgb(255, 255, 255) !important;
    /* cyan 700 */
    background-color: rgb(0, 151, 167) !important;
}

.toolbar-open svg {
    fill: white;
}

.toolbar-actions {
    color: #757575;
    background-color: #fff !important;
}

.toolbar-actions svg {
    fill: #757575;
}


/* sidenav styles */

md-sidenav {
    margin-top: 64px;
}

md-sidenav md-divider {
    margin: 8px 0;
}


/* menu items inside of a sidenav for icon positioning; a hack */

.fake-menu {}

.fake-menu svg {
    height: 24px;
    width: 24px;
}


/* each menu item will be assigned a color based on nth-child when selected */

.menu-active {
    border-left: 4px solid #FB8C00;
}

.menu-active > .md-button {
    padding-left: 12px;
}

.menu-active svg {
    fill: #FB8C00;
}


/* applications tab */

.application {
    height: calc(100% - 127px);
    display: flex;
    flex-direction: column;
    background-color: #E5E6E6;
    padding: 22px;
}


/* stats next to table */

.application-stats {
    height: 108px;
    display: flex;
    margin: 3px 3px 22px 3px;
}

.stats-card {
    flex-grow: 1;
    flex-shrink: 1;
    background-color: white;
    margin-left: 25px;
}


/* every one but the first has a margin left for spacing */

.application-stats > div:nth-child(1) {
    margin-left: 0;
}


/* floating fab */

.application-fab {
    position: fixed !important;
    right: 0;
    bottom: 0;
    margin: 20px !important;
}


/* table inside of applications */

.table-wrapper {
    height: auto;
    margin: 3px;
    background-color: white;
}

mdt-table {
    height: 100%;
    width: 100%;
}

mdt-table > md-content {
    height: 100%;
    width: 100%;
    background-color: white;
}

mdt-table > md-content > ng-include {
    height: 100%;
    width: 100%;
}

.md-virtual-repeat-container {
    height: 100%;
    width: 100%;
}


/* make it a monospaced font to keep the app id from moving */

.app-id {
    font-family: Courier, sans-serif;
}
