<md-content class="application">
    <div class="application-stats">
        <div class="base-card stats-card" layout-padding>{{ctrl2.appTotal}}</div>
        <div class="base-card stats-card" layout-padding>asdasdas</div>
        <div class="base-card stats-card" layout-padding>asdas</div>
        <div class="base-card stats-card" layout-padding>asdasdas</div>
        <div class="base-card stats-card" layout-padding>asdas</div>
        <div class="base-card stats-card" layout-padding>asdasdas</div>
        <div class="base-card stats-card" layout-padding>asdas</div>
        <div class="base-card stats-card" layout-padding>asdasdas</div>
        <div class="base-card stats-card" layout-padding>asdas</div>
        <div class="base-card stats-card" layout-padding>asdasdas</div>
        <div class="base-card stats-card" layout-padding>asdasdas</div>
    </div>
    <div class="table-wrapper">
        <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
                <span>Nutrition</span>
                <div flex></div>
                <md-button class="md-icon-button">
                    <md-icon>refresh</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-table-container>
            <table md-table md-row-select="true" multiple="true" ng-model="selected">
                <thead md-head>
                    <tr md-row>
                        <th md-column md-order-by="app.appName"><span>Name</span></th>
                        <th md-column md-order-by="app.appID"><span>App ID</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="app in ctrl2.apps">
                        <td md-cell>{{app.appName}}</td>
                        <td md-cell>{{app.appID}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="ctrl2.tableQuery.limit" md-page="ctrl2.tableQuery.page" md-total="ctrl2.appTotal" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
    </div>
    <md-button class="md-fab md-primary application-fab" ng-click="ctrl2.newApp()">
        <md-icon>add</md-icon>
    </md-button>
</md-content>
