<!-- trashy old stuff
<md-content class="table-content">
    <div class="table-wrapper basic-card">
        <md-toolbar class="md-table-toolbar md-default zero-z">
            <div class="md-toolbar-tools">
                <span>Applications</span>
                <div flex></div>
                <md-button class="md-icon-button" ng-click="ctrl2.newApp()">
                    <md-tooltip md-direction="top">
                        Add
                    </md-tooltip>
                    <md-icon>add</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-table-container>
            <table md-table md-row-select="ctrl2.options.rowSelect" multiple="{{ctrl2.options.multiSelect}}" ng-model="ctrl2.selected">
                <thead md-head md-order="ctrl2.tableQuery.order">
                    <tr md-row>
                        <th md-column md-order-by="appName"><span>Name</span></th>
                        <th md-column md-order-by="appID"><span>App ID</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select="app" md-auto-select="ctrl2.options.autoSelect" ng-repeat="app in ctrl2.apps | orderBy: ctrl2.tableQuery.order | limitTo: ctrl2.tableQuery.limit : (ctrl2.tableQuery.page -1) * ctrl2.tableQuery.limit">
                        <td md-cell>{{app.appName}}</td>
                        <td class="app-id" md-cell>{{app.appID}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="ctrl2.tableQuery.limit" md-page="ctrl2.tableQuery.page" md-total="{{ctrl2.apps.length}}"></md-table-pagination>
    </div>
</md-content>
-->
<div class="apps">
    <!-- search though your applications -->
    <div class="searchbar apps__searchbar md-whiteframe-2dp">
        <md-icon class="searchbar__search-icon" md-font-icon="mdi mdi-24px mdi-magnify"></md-icon>
        <input class="searchbar__input" placeholder="Search for an application...">
        <md-icon class="searchbar__filter-icon" md-font-icon="mdi mdi-24px mdi-filter-variant"></md-icon>
    </div>
    <!-- allows scrolling without messing up the grid -->
    <div class="apps__tile-scroller">
        <!-- the applications are represented by tiles -->
        <div class="apps__tile-container">
            <div class="apps__tile md-whiteframe-2dp">
                <!-- aligns some things, can't think of a non-convoluted way to do this otherwise -->
                <div class="tile__fixer">
                    <!-- set background color based on color picker ng-model -->
                    <div class="tile__top" ng-style="{'background-color': tileColor}">
                        <!-- bunches up the information to make moving the settings button to the top left easier -->
                        <div class="top__info-display">
                            <!-- number of servers -->
                            <div class="top__row top__row--first">
                                <!-- smaller icon and an i tag because md-icon is weird sometimes -->
                                <md-icon class="top__row-icon" md-font-icon="mdi mdi-24px mdi-server"></md-icon>
                                <span class="top__row-text">58</span>
                            </div>
                            <!-- number of admins -->
                            <div class="top__row">
                                <!-- smaller icon and an i tag because md-icon is weird sometimes -->
                                <md-icon class="top__row-icon" md-font-icon="mdi mdi-24px mdi-certificate"></md-icon>
                                <span class="top__row-text">296</span>
                            </div>
                            <!-- number of users -->
                            <div class="top__row top__row--last">
                                <!-- smaller icon and an i tag because md-icon is weird sometimes -->
                                <md-icon class="top__row-icon" md-font-icon="mdi mdi-24px mdi-account"></md-icon>
                                <span class="top__row-text">11.98k</span>
                            </div>
                        </div>
                        <!-- settings for the tile (color, deletion, etc.) -->
                        <md-button class="md-icon-button top__settings" ng-click="ctrl2.settingsTrigger()">
                            <md-icon md-font-icon="mdi mdi-24px mdi-settings"></md-icon>
                        </md-button>
                    </div>
                    <div class="tile__bottom">
                        <span class="bottom__name">The greatest app</span>
                        <span class="bottom__id">someidgoeshereiguess</span>
                    </div>
                </div>
                <!-- contains settings, triggered by settings button -->
                <div class="settings__sheet">
                    <div class="settings__sheet-inner">
                        <color-picker class="settings__sheet-color" ng-model="tileColor"></color-picker>
                        <md-button>Delete application</md-button>
                        <md-button class="md-icon-button settings__sheet-back" ng-click="ctrl2.settingsRetract()">
                            <md-icon md-font-icon="mdi mdi-24px mdi-arrow-left"></md-icon>
                        </md-button>
                    </div>
                </div>
            </div>
            <!-- this tile is always present, selects all applications at once. because it does this, it shares visual elements with add tile but also shows stats like a normal tile -->
            <div class="apps__tile apps__tile--all">
                <div class="all__row all__row--first">
                    <md-icon class="all__row-icon" md-font-icon="mdi mdi-24px mdi-server"></md-icon>
                    <span class="all__row-text">58</span>
                </div>
                <!-- number of admins -->
                <div class="all__row">
                    <md-icon class="all__row-icon" md-font-icon="mdi mdi-24px mdi-certificate"></md-icon>
                    <span class="all__row-text">296</span>
                </div>
                <!-- number of users -->
                <div class="all__row all__row--last">
                    <md-icon class="all__row-icon" md-font-icon="mdi mdi-24px mdi-account"></md-icon>
                    <span class="all__row-text">11.98k</span>
                </div>
                <!-- md-icon doesn't like anything that isn't 24px -->
                <i class="mdi mdi-36px mdi-all-inclusive tile__all-icon"></i>
                <span>View overall</span>
            </div>
            <!-- this tile is always present, adds an application -->
            <div class="apps__tile apps__tile--add" ng-click="ctrl2.newApp()">
                <!-- md-icon doesn't like anything that isn't 24px -->
                <i class="mdi mdi-36px mdi-plus tile__add-icon"></i>
                <span>Add Application</span>
            </div>
        </div>
    </div>
</div>
