<div class="app" ng-cloak>
    <!-- the application menu, always open at the left side of the screen
         ng-repeat is based on an object somewhere in the mainctrl, controls item functions and colors, etc.
    -->
    <div class="app-menu">
        <!-- bunches up the user avatar and application selector to make css cleaner -->
        <div class="app-menu__user-bar">
            <!-- displays a user avatar of either their choice or just their initials -->
            <div class="avatar__circle">
                VD
            </div>
            <!-- application selector, moves you to former applications page -->
            <div class="app-menu__app-selector" ng-click="ctrl.select('main.apps', 'Applications', 'applications')">
                <md-icon class="app-selector__cloud" md-font-icon="mdi mdi-24px mdi-cloud"></md-icon>
                <span class="app-selector__text">The greatest application</span>
                <span class="app-selector__text app-selector__text--select">Select an application</span>
            </div>
        </div>
        <!-- all of the navigation options and logout -->
        <div class="app-menu__navigator-container" ng-repeat="menuGroup in ctrl.menuGroups">
            <!-- each option, is the active navigator if clicked -->
            <div class="app-menu__navigator" md-ink-ripple="#000000" ng-click="ctrl.select(menu.state, menu.name, menu)" ng-repeat="menu in menuGroup" ng-class="{active__navigator: ctrl.activeMenu === menu}">
                <!-- each option has a different color of the rainbow that lights up when it is clicked -->
                <div class="navigator__spacer"></div>
                <!-- icon is determined from mainctrl and colored on click -->
                <md-icon class="navigator__icon" md-font-icon="mdi-24px {{menu.icon}}"></md-icon>
                <span class="navigator__text">{{menu.name}}</span>
            </div>
        </div>
    </div>
    <!-- where everything else exists -->
    <ui-view class="app__main" />
</div>
<!-- copyright -->
<div class="copyright">
    <span>Made with <span ng-bind-html="ctrl.randomHtmlChar|html"></span> by <a href="http://www.terainsights.com/" target="_blank">Tera Insights</a>, &copy; 2012 - 2017</span>
</div>
