<div layout="column" style="height: 500px;" ng-cloak="" class="sidenavdemoCustomSidenav" ng-app="MyApp">
    <section layout="row" flex="">
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop="" md-whiteframe="4">
            <md-content class="fake-menu">
                <div ng-repeat="menuGroup in ctrl.menuGroups">
                    <md-menu-item ng-repeat="menu in menuGroup">
                        <md-button ng-click="ctrl.select(menu.state, menu.name)">
                            <md-icon md-svg-src="{{'img/icons/'+menu.icon}}"></md-icon>
                            {{menu.name}}
                        </md-button>
                    </md-menu-item>
                    <md-divider ng-if="$index < ctrl.menuGroups.length-1"></md-divider>
                </div>
            </md-content>
        </md-sidenav>
        <md-content flex="">
            <div class="toolbar-container md-whiteframe-2dp" layout="row">
                <!-- two toolbars for seperate coloration for minimal effort -->
                <md-toolbar class="toolbar-open">
                    <div class="md-toolbar-tools">
                        <md-button class="md-icon-button" id="menu" ng-click="ctrl.toggleLeft()">
                            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                        </md-button>
                        <h2>
                            <span>{{ctrl.sName}}</span>
                        </h2>
                        <span flex></span>
                    </div>
                </md-toolbar>
                <!-- actions -->
                <md-toolbar class="toolbar-actions">
                    <div class="md-toolbar-tools">
                        <span flex></span>
                        <md-button class="md-icon-button" aria-label="Messages">
                            <md-icon md-svg-icon="img/icons/message.svg"></md-icon>
                        </md-button>
                        <h2 style="color:black"><span>{{ctrl.Auth.userid}}</span></h2>
                    </div>
                </md-toolbar>
            </div>
            <div layout="column" layout-align="top center">
                <ui-view />
            </div>
        </md-content>
    </section>
</div>