<div class="full-size" layout="column" ng-cloak>
    <!-- sidenav for state selection -->
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">
        <!--<md-content class="fake-menu">
            <div ng-repeat="menuGroup in ctrl.menuGroups">
                <md-menu-item ng-repeat="menu in menuGroup">
                    <md-button ng-click="ctrl.select(menu.state, menu.name)">
                        <md-icon md-svg-src="{{'img/icons/'+menu.icon}}"></md-icon>
                        {{menu.name}}
                    </md-button>
                </md-menu-item>
                <md-divider ng-if="$index < ctrl.menuGroups.length-1"></md-divider>
            </div>
        </md-content>-->

        <!-- the application menu, always open at the left side of the screen
             ng-repeat is based on an object somewhere in the mainctrl, controls item functions and colors, etc.
        -->
        <div class="app-menu" >
            <!-- bunches up the user avatar and application selector to make css cleaner -->
            <div class="app-menu__user-bar">
                <!-- displays a user avatar of either their choice or just their initials -->
                <div class="avatar__circle">
                    VD
                </div>
                <!-- application selector, exact form TBD -->
            </div>
            <!-- all of the navigation options and logout -->
            <div class="app-menu__navigator-container" ng-repeat="menuGroup in ctrl.menuGroups">
                <!-- each option, is the active navigator if clicked -->
                <div class="app-menu__navigator" md-ink-ripple="#000000" ng-click="ctrl.select(menu.state, menu.name)" ng-repeat="menu in menuGroup" ng-class="{active__navigator: activeMenu === menu}">
                    <!-- each option has a different color of the rainbow that lights up when it is clicked -->
                    <div class="navigator__spacer"></div>
                    <!-- icon is determined from mainctrl and colored on click -->
                    <md-icon class="navigator__icon" md-font-icon="{{menu.icon}}"></md-icon>
                    <span class="navigator__text">{{menu.name}}</span>
                </div>
            </div>
        </div>
    </md-sidenav>
    <!-- where everything else exists -->
    <div class="full-size main">
        <div class="toolbar-container md-whiteframe-2dp" layout="row">
            <!-- two toolbars for seperate coloration with minimal effort -->
            <md-toolbar class="toolbar-open">
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" id="menu" ng-click="ctrl.toggleLeft()">
                        <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                    </md-button>
                    <h2>
                        <span>{{ctrl.sName}}</span>
                    </h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <!-- actions -->
            <md-toolbar class="toolbar-actions">
                <div class="md-toolbar-tools">
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="ctrl.generate()" aria-label="Messages">
                        <md-icon md-svg-icon="img/icons/message.svg"></md-icon>
                    </md-button>
                    <a class="avatar noselect" md-ink-ripple="#0c0c0c">
                        <img src="img/placeholder/placeman.jpg">
                        <div class="avatar-text">
                            <div class="name">{{ctrl.Auth.userid}}</div>
                            <div class="title">Rampaging Demon Clown</div>
                        </div>
                        <i class="material-icons icon-black">keyboard_arrow_down</i>
                    </a>
                </div>
            </md-toolbar>
        </div>
        <ui-view class="full-size fill-rest spacer" />
    </div>
</div>
