<div layout-gt-sm="row" layout="column">
    <div flex-gt-sm="50" flex>
        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>Applications</span>
            </div>
        </md-toolbar>
        <md-content>
            <md-list class="md-dense" flex>
                <md-list-item class="md-2-line" ng-repeat="app in ctrl2.apps" ng-click="ctrl2.selectApp(app)">
                    <img md-svg-src="img/icons/missing.svg"/>
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ app.appName }}</h3>
                        <p>{{ app.appID }}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
    <md-divider></md-divider>
    <div flex-gt-sm="50" flex>
        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>Servers</span>
            </div>
        </md-toolbar>
        <md-content>
            <md-list class="md-dense" flex>
                <md-list-item class="md-3-line" ng-repeat="server in ctrl2.selectedServers">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ server.serverName }}</h3>
                        <h4>{{ server.baseURL }}</h4>
                        <h4>{{ server.serverID }}</h4>
                    </div>
                </md-list-item>
                <md-list-item>
                    <p ng-if="ctrl2.selectedAppID == null">No Application Selected</p>
                    <md-button ng-if="ctrl2.selectedAppID != null" class="md-raised md-primary" ng-click="ctrl2.newServer()">New Server</md-button>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>
