<md-content class="application">
    <div class="table-wrapper basic-card">
        <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
                <div ng-switch="ctrl2.state">
                    <div ng-switch-when="searchClosed">
                        <span>Servers</span>
                    </div>
                    <div layout="row" ng-switch-when="searchOpen">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Server Filter</label>
                            <input type="text" ng-model="ctrl2.serverFilter">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Application Filter</label>
                            <input type="text" ng-model="ctrl2.appFilter">
                        </md-input-container>
                    </div>
                </div>
                <span flex></span>
                <div ng-switch="ctrl2.state">
                    <div layout="row" ng-switch-when="searchOpen">
                        <md-button class="md-icon-button" aria-label="Back" ng-click="ctrl2.state = 'searchClosed'">
                            <md-icon md-svg-icon="img/icons/close.svg"></md-icon>
                        </md-button>
                    </div>
                    <div layout="row" ng-switch-when="searchClosed">
                        <md-button class="md-icon-button" aria-label="Search" ng-click="ctrl2.state = 'searchOpen'">
                            <md-icon md-svg-icon="img/icons/search.svg"></md-icon>
                        </md-button>
                    </div>
                </div>
                <div layout="row" ng-if="ctrl2.selectedServers.length">
                    <md-button class="md-icon-button" aria-label="Delete" ng-click="ctrl2.deleteSelected()">
                        <md-icon md-svg-icon="img/icons/delete.svg"></md-icon>
                    </md-button>
                </div>
            </div>
        </md-toolbar>
        <md-table-container>
            <table md-table md-row-select multiple ng-model="ctrl2.selectedServers">
                <thead md-head md-order="ctrl2.orderBy">
                    <tr md-row>
                        <th md-column md-order-by="serverName"><span>Name</span></th>
                        <th md-column md-order-by="appName"><span>Application</span></th>
                        <th md-column md-order-by="users" md-numeric><span>Users</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select="server" md-auto-select ng-repeat="server in ctrl2.servers | orderBy: ctrl2.orderBy | filter: {serverName: ctrl2.serverFilter, appName: ctrl2.appFilter} | limitTo: ctrl2.pagination.pageLimit : (ctrl2.pagination.page - 1) * ctrl2.pagination.pageLimit">
                        <td md-cell>{{ server.serverName }}</td>
                        <td md-cell>{{ server.appName }}</td>
                        <td md-cell>{{ server.users }}</td>
                    </tr>
                </tbody>
        </md-table-container>
        <md-table-pagination md-limit="ctrl2.pagination.pageLimit" md-page="ctrl2.pagination.page" md-total="{{ctrl2.servers.length}}"
    </div>
</md-content>